{% if width == blank %}
  {% assign modal_width = 'max-w-4xl' %}
{% else %}
  {% assign modal_width = width %}
{% endif %}

<div class="modal fixed top-0 left-0 right-0 bottom-0 d-grid items-center overflow-y-auto w-screen h-screen px-4 md:px-12 lg:px-0 lg:mx-auto opacity-0 invisible z-[51] transition-all duration-200">
  <div class="bg-cream text-black mx-auto w-full relative z-20 my-12 d-grid items-center {{ modal_width }}">
    <div class="overflow-hidden">
      {{ modal_content }}
    </div>
  </div>
  <button
    type="button"
    class="modal-close bg-black bg-opacity-20 fixed top-0 left-0 right-0 bottom-0 z-10 w-full h-full"
    aria-label="Close Modal"></button>
</div>