{% if template == 'page.track-order' %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const heading = document.querySelector('.loop-heading');
      const submit = document.querySelector('.loop-order-tracking__submit');
      heading.innerText = 'Start a Return';
      submit.innerText = 'Start a Return';
    });
  </script>
{% else %}
  <section class="d-grid justify-items-center items-center pt-10 text-center px-4 mb-14 lg:mb-20 lg:pt-14 lg:px-8 pb-10 lg:pb-16 border-b">
    <svg
      class="fill-black d-none lg:block h-[54px] w-[68px] mb-9"
      width="36"
      viewBox="0 0 73 35"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M48.1962 22.6069L53.9532 8.00806L55.3553 4.05552L55.674 4.05552L56.9911 7.92305L60.7724 17.8469C56.5875 20.0357 52.4025 21.6294 48.1962 22.6282M64.4901 17.8044C65.7435 17.0819 66.9756 16.2956 68.2077 15.4669C69.5885 14.5531 72.6264 12.9168 72.6264 12.9168L70.9056 10.6643C70.9056 10.6643 68.5689 13.0656 67.2305 13.9581C66.1046 14.7231 64.9574 15.4244 63.8315 16.1044L57.9258 0.697988L54.8455 0.697989L45.9232 23.0957C43.1403 23.6057 40.3573 23.8607 37.5957 23.8395L37.5957 3.22677L37.7444 0.719242L33.6868 0.719243L33.8356 3.22677L33.8356 23.6482C27.5262 23.0532 21.1531 21.0982 14.7588 17.8044L14.7588 3.22677L14.9287 0.719246L10.85 0.719247L11.0199 3.22677L11.0199 15.7219C9.02302 14.5319 7.00488 13.1931 4.98674 11.7268C4.07326 11.0681 2.58621 9.24058 2.58621 9.24058L0.886721 11.4081C0.886721 11.4081 3.07481 12.5131 4.03077 13.2144C6.36757 14.9144 8.70437 16.4231 11.0199 17.7619L11.0199 31.3195L10.85 34.3796L14.9287 34.3796L14.7588 31.3195L14.7588 19.7807C21.1531 22.9682 27.5262 24.8595 33.8356 25.4332L33.8356 31.3195L33.6869 34.3795L37.7444 34.3795L37.5957 31.3195L37.5957 25.6245C37.5957 25.6245 37.7869 25.6245 37.8718 25.6245C40.2936 25.6245 42.7154 25.412 45.1584 25.0295L42.6516 31.3195L41.3558 34.3795L43.8201 34.3795L44.776 31.3195L47.4102 24.6257C52.0838 23.6482 56.7574 21.9269 61.4098 19.5257L65.9134 31.3408L66.8269 34.4008L71.0544 34.4008L69.6948 31.3408L64.5113 17.8256L64.4901 17.8044Z" fill="currentColor"></path>
    </svg>
    <h2 class="heading heading--1 mb-3 lg:mb-[10px] d-grid md:grid-flow-col lg:gap-3 uppercase">
      {% assign ital_meta = page.metafields['happy-aging'].italicized_title_segment %}
      {% if ital_meta %}
        {% assign ital = '<br /><em class="lowercase">' | append: ital_meta | append: '</em>' %}
        {{ page.title | replace: ital_meta, ital }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h2>
    {% unless page.metafields['happy-aging'].subcopy == blank %}
      <p class="max-w-[532px] text-sm">
        {{ page.metafields['happy-aging'].subcopy }}
      </p>
    {% endunless %}
  </section>
  {% unless page.content == blank %}
    <section class="px-4 pb-16 lg:pb-20">
      <div class="max-w-4xl mx-auto rte-page">
        {{ page.content }}
      </div>
      {% if request.path == '/pages/return-policy' %}
        <div class="d-grid md:justify-center mt-8 lg:mt-20">
          <a href="https://happyaging.loopreturns.com" class="button button--black">Start a Return</a>
        </div>
      {% endif %}
    </section>
  {% endunless %}
{% endif %}

{% schema %}
{
  "name": "t:sections.main-page.name"
}
{% endschema %}
